<ion-header [translucent]="true">
    <ion-toolbar color="gob">
      <ion-buttons slot="start">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
      <ion-title>Noticias</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <div class="ion-padding">
      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fsalud.sv&tabs=timeline&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId=2933618816863675"
      width="500"
      height="500"
      style="border:none;overflow:hidden" 
      scrolling="no" frameborder="0" 
      allowTransparency="true" allow="encrypted-media"></iframe>
  </div>
  
</ion-content>
