<ion-header>
  <ion-toolbar color="gob">
      <ion-buttons slot="start">
          <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
    <ion-title>Codigo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h3 style="text-align: center;color: #464d58;">Presenta este código en tu unidad de salud para atenderte rápidamente.</h3>
    <ion-card style="text-align: center;
    padding: 10px;
    background-color: #efefef;">
        <img [src]="generated" alt="" srcset="" style="width:70%;">
    </ion-card>
  </div>
</ion-content>
