<!-- <ion-content>
<img src="assets/elsalvador.jpg" style="width: 100%;" alt="">

<div class="ion-padding">
  <div class="heading">
      <div class="success-checkmark">
          <div class="check-icon">
            <span class="icon-line line-tip"></span>
            <span class="icon-line line-long"></span>
            <div class="icon-circle"></div>
            <div class="icon-fix"></div>
          </div>
        </div>
    <h4>Se ha enviado tu informe diario</h4>
    <p>Recuerda mantenerte alejado de las demas personas y evita salir de casa.</p>
    <p>Si tus sintomas persisten o presentas complicaciones, presentate inmediatamente a un centro
      de salud o llama al 132.
    </p>
  </div>
</div>

</ion-content>
<ion-footer class="ion-no-border">
    <ion-toolbar>
      <div class="ion-padding">
          <ion-button [routerLink]="['/Inicio']" expand="block" color="primary">
              Continuar
            </ion-button>
      </div>
    </ion-toolbar>
  </ion-footer> -->
  <ion-content>
    <div class="ion-padding" style="background-color: #1E265C; color:white; height:100%; padding-top: 45px;">
      <img src="assets/minsal-blanco.png" style="display: block; margin: auto; margin-bottom: 25px" height="100" alt="">
      <h1>Gracias por tu ayuda y vital contribución al combate del COVID-19</h1>
      <p style="color: #d4d4d4;">Recuerda mantenerte alejado de las demas personas y evita salir de casa. Si tus síntomas persisten o presentas complicaciones, presentate inmediatamente a un centro
          de salud o llama al <strong>132</strong>.</p>
    </div>
  </ion-content>
  <ion-footer class="ion-no-border">
      <ion-toolbar>
        <div class="ion-padding" style="background-color: #1E265C">
            <ion-button [routerLink]="['/main/Inicio']" expand="block" color="light">
                Continuar
              </ion-button>
        </div>
      </ion-toolbar>
    </ion-footer>
