<ion-split-pane contentId="main-content" *ngIf="isLogin">
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <img src="assets/logo-gob.png" width="25%">
      <ion-list id="inbox-list">
        <ion-list-header>{{ paciente.nombre }}</ion-list-header>
        <ion-note>{{ paciente.dui }}</ion-note>

      
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
          <ion-item  *ngIf="p.users.includes(userType)" (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-outline'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item (click)="logout()" lines="none" detail="false">
            <ion-icon slot="start" name="log-out-outline"></ion-icon>
            <ion-label>Salir</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>