.evaluation {
    background-color: #20D2BB !important;
}
.container {
    text-align: center;
}
.range-control {
    top: 40%;
    right: 0;
    left: 0;
    position: absolute;
    transform: translateY(40%);
}
.heading {
    margin-top: 25px;
}