<ion-header [translucent]="true">
  <ion-toolbar color="gob">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Ayuda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h1>Acerca de</h1>
    <p>Ante la crisis mundial por COVID-19 esta aplicaci&oacute;n pretende brindar una herramienta al sistema de salud de nuestro pa&iacute;s que permita liberar de manera oportuna pacientes que han resultado positivos a la prueba de esta enfermedad y que pueden ser enviados a asilamiento domiciliar debido a no presenta complicaciones y que no forma parte de alg&uacute;n grupo de riesgo (ni&ntilde;os, embarazadas, adultos mayores, personas con enfermedades cr&oacute;nicas).</p>
<p>Agradecemos tu apoyo y comprensi&oacute;n ya que al enviar tus reportes podemos brindarte un seguimiento constante de tu salud, por lo que te pedimos que realices a evaluaci&oacute;n todos los d&iacute;as de la manera m&aacute;s honesta posible.</p>
<p>Tus datos no ser&aacute;n publicados ni compartidos con alg&uacute;n organizaci&oacute;n ni grupo de inter&eacute;s. Recuerda que en caso de que te sientas realmente mal primero debes llamar al <strong>132</strong>.</p>
  </div>
</ion-content>
